#### Sample Example

In [1]:
sent = "They told that their ages are 25 27 and 31 respectively"

In [2]:
# Find the average of ages mentioned in the above sentence

In [3]:
import re

In [4]:
ages = re.findall(r"\d+",sent)

ages

['25', '27', '31']

In [5]:
ages = [int(age)for age in ages]
len(ages)

3

In [6]:
avg = 0 

for age in ages:
    avg = avg+int(age)/len(ages)

avg

27.66666666666667

#### Using Nltk

In [7]:
import numpy as np

In [8]:
np.mean([int(word) for word in sent.split() if word.isdigit()])

27.666666666666668

#### Tokenization

In [9]:
sent = "Hello friends ! How are you ? Welcome to Python Programming."

In [10]:
# import the functions 
from nltk.tokenize import sent_tokenize
from nltk.tokenize import word_tokenize

In [11]:
# Segmentation
sent_tokenize(sent)

['Hello friends !', 'How are you ?', 'Welcome to Python Programming.']

In [12]:
word_tokenize(sent)

['Hello',
 'friends',
 '!',
 'How',
 'are',
 'you',
 '?',
 'Welcome',
 'to',
 'Python',
 'Programming',
 '.']

In [13]:
# Find the percentage of puncutation symbols present in it

In [14]:
lst = word_tokenize(sent)

In [15]:
punc = [word for word in lst if not word.isalnum()]
punc

['!', '?', '.']

In [16]:
a = [word for word in lst]
len(a)

12

In [17]:
percentage = (len(punc)/len(a))*100

percentage

25.0

In [18]:
ord('#')

35

In [19]:
import sys

sys.getsizeof('#')

50

In [20]:
char ="\u092E\u093E\u0928\u0938 \u0915\u0941\u0932\u0915\u0930\u094D\u0923\u0940"
char

'मानस कुलकर्णी'

In [21]:
name = char

In [22]:
name.split()

['मानस', 'कुलकर्णी']

In [23]:
name.find("न")

2

In [24]:
len(name)

13

In [25]:
names = [ 'योगेश', 'कुणाल', 'मानसी', 'मानस', 'आदित्य', 'पार्थ' ]

In [26]:
for name in names:
    if name.startswith('मा'):
        print(name)

मानसी
मानस

In [27]:
mtext = '४८ कि. मी. अंतरावर आणि पुणे जिल्ह्यातील वेल्हे तालुक्यात व भोर गावाच्या वायव्येला २४ कि.मी. अंतरावर नीरा-वेळवंडी-कानंदी आणि गुंजवणी या नद्यांच्या खोऱ्यांच्या बेचक्यात मुरुंबदेवाचा डोंगर उभा आहे. मावळ भागामध्ये राज्यविस्तार साध्य करण्यासाठी राजगड आणि तोरणा हे दोन्ही किल्ले मोक्याच्या ठिकाणी होते. तोरणा Archived 2020-09-20 at the Wayback Machine. किल्ल्याचा बालेकिल्ला आकाराने लहान असल्यामुळे राजकीय केंद्र म्हणून हा किल्ला सोयीचा नव्हता. त्यामानाने राजगड दुर्गम असून त्याचा बालेकिल्ला बराच मोठा आहे. शिवाय राजगडाकडे कोणत्याही बाजूने येताना एखादी टेकडी किंवा नदी ओलांडावीच लागते. एवढी सुरक्षितता होती,म्हणून आपले राजकीय केंद्र म्हणून शिवाजी महाराजांनी Archived 2020-03-18 at the Wayback Machine. राजगडाची निवड केली. राजगडाला तीन माच्या व एक बालेकिल्ला आहे. राजगडचा बालेकिल्ला खूप उंच असून त्याची समुद्रसपाटीपासूनची उंची १३९४ मीटर आहे.'

In [28]:
mtext

'४८ कि. मी. अंतरावर आणि पुणे जिल्ह्यातील वेल्हे तालुक्यात व भोर गावाच्या वायव्येला २४ कि.मी. अंतरावर नीरा-वेळवंडी-कानंदी आणि गुंजवणी या नद्यांच्या खोऱ्यांच्या बेचक्यात मुरुंबदेवाचा डोंगर उभा आहे. मावळ भागामध्ये राज्यविस्तार साध्य करण्यासाठी राजगड आणि तोरणा हे दोन्ही किल्ले मोक्याच्या ठिकाणी होते. तोरणा Archived 2020-09-20 at the Wayback Machine. किल्ल्याचा बालेकिल्ला आकाराने लहान असल्यामुळे राजकीय केंद्र म्हणून हा किल्ला सोयीचा नव्हता. त्यामानाने राजगड दुर्गम असून त्याचा बालेकिल्ला बराच मोठा आहे. शिवाय राजगडाकडे कोणत्याही बाजूने येताना एखादी टेकडी किंवा नदी ओलांडावीच लागते. एवढी सुरक्षितता होती,म्हणून आपले राजकीय केंद्र म्हणून शिवाजी महाराजांनी Archived 2020-03-18 at the Wayback Machine. राजगडाची निवड केली. राजगडाला तीन माच्या व एक बालेकिल्ला आहे. राजगडचा बालेकिल्ला खूप उंच असून त्याची समुद्रसपाटीपासूनची उंची १३९४ मीटर आहे.'

In [29]:
word_tokenize(mtext)

['४८',
 'कि',
 '.',
 'मी',
 '.',
 'अंतरावर',
 'आणि',
 'पुणे',
 'जिल्ह्यातील',
 'वेल्हे',
 'तालुक्यात',
 'व',
 'भोर',
 'गावाच्या',
 'वायव्येला',
 '२४',
 'कि.मी',
 '.',
 'अंतरावर',
 'नीरा-वेळवंडी-कानंदी',
 'आणि',
 'गुंजवणी',
 'या',
 'नद्यांच्या',
 'खोऱ्यांच्या',
 'बेचक्यात',
 'मुरुंबदेवाचा',
 'डोंगर',
 'उभा',
 'आहे',
 '.',
 'मावळ',
 'भागामध्ये',
 'राज्यविस्तार',
 'साध्य',
 'करण्यासाठी',
 'राजगड',
 'आणि',
 'तोरणा',
 'हे',
 'दोन्ही',
 'किल्ले',
 'मोक्याच्या',
 'ठिकाणी',
 'होते',
 '.',
 'तोरणा',
 'Archived',
 '2020-09-20',
 'at',
 'the',
 'Wayback',
 'Machine',
 '.',
 'किल्ल्याचा',
 'बालेकिल्ला',
 'आकाराने',
 'लहान',
 'असल्यामुळे',
 'राजकीय',
 'केंद्र',
 'म्हणून',
 'हा',
 'किल्ला',
 'सोयीचा',
 'नव्हता',
 '.',
 'त्यामानाने',
 'राजगड',
 'दुर्गम',
 'असून',
 'त्याचा',
 'बालेकिल्ला',
 'बराच',
 'मोठा',
 'आहे',
 '.',
 'शिवाय',
 'राजगडाकडे',
 'कोणत्याही',
 'बाजूने',
 'येताना',
 'एखादी',
 'टेकडी',
 'किंवा',
 'नदी',
 'ओलांडावीच',
 'लागते',
 '.',
 'एवढी',
 'सुरक्षितता',
 'होती',
 ',',
 'म्हणून',
 'आपले',
 'राजकीय',
 'केंद्र',
 'म्हणून',
 'शिवाजी',
 'महाराजांनी',
 'Archived',
 '2020-03-18',
 'at',
 'the',
 'Wayback',
 'Machine',
 '.',
 'राजगडाची',
 'निवड',
 'केली',
 '.',
 'राजगडाला',
 'तीन',
 'माच्या',
 'व',
 'एक',
 'बालेकिल्ला',
 'आहे',
 '.',
 'राजगडचा',
 'बालेकिल्ला',
 'खूप',
 'उंच',
 'असून',
 'त्याची',
 'समुद्रसपाटीपासूनची',
 'उंची',
 '१३९४',
 'मीटर',
 'आहे',
 '.']

#### Space Tokenizer

In [46]:
text = open(r'C:\Users\Administrator.DAI-PC2\Desktop\NLP\Day1\test.txt','r')
data = text.read()
print(data)

Hello Friends! How are you?
Welcome to the world of Python Programming

In [48]:
# import the class

from nltk.tokenize import SpaceTokenizer

# Create a object

tk = SpaceTokenizer()

# tokenize the data

tk.tokenize(data)

['Hello',
 'Friends!',
 'How',
 'are',
 'you?\nWelcome',
 'to',
 'the',
 'world',
 'of',
 'Python',
 'Programming']

#### Tab Tokenizer

In [52]:
text = open(r'C:\Users\Administrator.DAI-PC2\Desktop\NLP\Day1\test.txt','r')
data = text.read()
print(data)

Hello Friends!	How are you?
Welcome to the world of 	Python Programming

In [53]:
# import the class

from nltk.tokenize import TabTokenizer

# Create a object

tk = TabTokenizer()

# tokenize the data

tk.tokenize(data)

['Hello Friends!',
 'How are you?\nWelcome to the world of ',
 'Python Programming']

#### Line Tokenizer

In [54]:
# import the class

from nltk.tokenize import LineTokenizer

# Create a object

tk = LineTokenizer()

# tokenize the data

tk.tokenize(data)

['Hello Friends!\tHow are you?',
 'Welcome to the world of \tPython Programming']

#### Whitespace Tokenizer

In [55]:
# import the class

from nltk.tokenize import WhitespaceTokenizer

# Create a object

tk = WhitespaceTokenizer()

# tokenize the data

tk.tokenize(data)

['Hello',
 'Friends!',
 'How',
 'are',
 'you?',
 'Welcome',
 'to',
 'the',
 'world',
 'of',
 'Python',
 'Programming']

#### MWE Tokenizer

In [64]:
sent1 = "The Van Rossum is Python creator, visting Pune this week. The devlopmenrt comunity is very eager to meet Van Rossum."

In [65]:
print(sent1)

The Van Rossum is Python creator, visting Pune this week. The devlopmenrt comunity is very eager to meet Van Rossum.

In [66]:
word_tokenize(sent1)

['The',
 'Van',
 'Rossum',
 'is',
 'Python',
 'creator',
 ',',
 'visting',
 'Pune',
 'this',
 'week',
 '.',
 'The',
 'devlopmenrt',
 'comunity',
 'is',
 'very',
 'eager',
 'to',
 'meet',
 'Van',
 'Rossum',
 '.']

In [68]:
# import the class

from nltk.tokenize import MWETokenizer

# Create a object

tk = MWETokenizer(separator=' ')

# add Multi Word Expression

tk.add_mwe(('Van','Rossum'))

# tokenize the data

tk.tokenize(word_tokenize(sent1))

['The',
 'Van Rossum',
 'is',
 'Python',
 'creator',
 ',',
 'visting',
 'Pune',
 'this',
 'week',
 '.',
 'The',
 'devlopmenrt',
 'comunity',
 'is',
 'very',
 'eager',
 'to',
 'meet',
 'Van Rossum',
 '.']

#### Tweet Tokenizer

In [69]:
text = open(r'C:\Users\Administrator.DAI-PC2\Desktop\NLP\Day1\test.txt','r')
data = text.read()
print(data)

Hello Friends!👏How are you?
Welcome to the world of 👌Python Programming

In [70]:
# import the class

from nltk.tokenize import TweetTokenizer

# Create a object

tk = TweetTokenizer()

# tokenize the data

tk.tokenize(data)

['Hello',
 'Friends',
 '!',
 '👏',
 'How',
 'are',
 'you',
 '?',
 'Welcome',
 'to',
 'the',
 'world',
 'of',
 '👌',
 'Python',
 'Programming']

#### Custom Tokenizer

In [81]:
import re

def custom_tokenizer(text):
    return re.split(r"[.,:?\s]+",text)

text = "This is some text with punctuation > Let's tokenize it. Is it ok?"

tokens = custom_tokenizer(text)

print("Tokens: ")
for token in tokens:
    print(token)

Tokens:
This
is
some
text
with
punctuation
>
Let's
tokenize
it
Is
it
ok

In [155]:
f = open('student3.tsv')
data = f.read()

In [156]:
print(data)

roll	name	class	marks	age
1	anil	TE	56.77	22
2	amit	TE	59.77	21
3	aniket	BE	76.88	19
4	ajinkya	TE	69.66	20
5	asha	TE	63.28	20
6	ayesha	BE	49.55	20
7	amar	BE	65.34	19
8	amita	BE	68.33	23
9	amol	TE	56.75	20
10	anmol	BE	78.66	21

In [157]:
data = data.split('\n')

data

['roll\tname\tclass\tmarks\tage',
 '1\tanil\tTE\t56.77\t22',
 '2\tamit\tTE\t59.77\t21',
 '3\taniket\tBE\t76.88\t19',
 '4\tajinkya\tTE\t69.66\t20',
 '5\tasha\tTE\t63.28\t20',
 '6\tayesha\tBE\t49.55\t20',
 '7\tamar\tBE\t65.34\t19',
 '8\tamita\tBE\t68.33\t23',
 '9\tamol\tTE\t56.75\t20',
 '10\tanmol\tBE\t78.66\t21',
 '']

In [158]:
data_list =[]

for data in data:
    row = data.split('\t')
    data_list.append(row)

In [159]:
data_list

[['roll', 'name', 'class', 'marks', 'age'],
 ['1', 'anil', 'TE', '56.77', '22'],
 ['2', 'amit', 'TE', '59.77', '21'],
 ['3', 'aniket', 'BE', '76.88', '19'],
 ['4', 'ajinkya', 'TE', '69.66', '20'],
 ['5', 'asha', 'TE', '63.28', '20'],
 ['6', 'ayesha', 'BE', '49.55', '20'],
 ['7', 'amar', 'BE', '65.34', '19'],
 ['8', 'amita', 'BE', '68.33', '23'],
 ['9', 'amol', 'TE', '56.75', '20'],
 ['10', 'anmol', 'BE', '78.66', '21'],
 ['']]

In [160]:
data_list = data_list[1:]

In [161]:
data_list.pop()

['']

In [162]:
data_list

[['1', 'anil', 'TE', '56.77', '22'],
 ['2', 'amit', 'TE', '59.77', '21'],
 ['3', 'aniket', 'BE', '76.88', '19'],
 ['4', 'ajinkya', 'TE', '69.66', '20'],
 ['5', 'asha', 'TE', '63.28', '20'],
 ['6', 'ayesha', 'BE', '49.55', '20'],
 ['7', 'amar', 'BE', '65.34', '19'],
 ['8', 'amita', 'BE', '68.33', '23'],
 ['9', 'amol', 'TE', '56.75', '20'],
 ['10', 'anmol', 'BE', '78.66', '21']]